h1 {
    position: absolute;
    top: 7%;
    left: 7%;
}
#nu {
    position: absolute;
    top: 20%;
    left: 30%;
}

#mdp {
    position: absolute;
    top: 25%;
    left: 30%;
}

input {
    position: relative;
    left: 30%;
    width: 20%;
    text-align: center;
    height: 3%;
    &:focus {
        border: 5px solid black;
    }
}

#text1 {
    position: absolute;
    top: 20%;
    left: 23%;
    font-size: large;
}

#text2 {
    position: absolute;
    top: 25%;
    left: 23%;
    font-size: large;
}

button {
    position: absolute;
    top: 33%;
    left: 36%;
    width: 7%;
    height: 5%;
    transition: 500ms;
    &:hover {
        transform: scale(1.30);
    }
    background-color: rgb(228, 228, 228);
}

.result {
    position: absolute;
    top: 28%;
    left: 30%;
    color: rgb(190, 0, 0);
    text-decoration: underline;
    font-size: large;
}

.signUp {
    text-decoration: none;
    position: absolute;
    top: 35%;
    left: 46%;
    color: black;
    transition: 500ms;
    &:hover {
        transform: scale(1.30);
        text-decoration: underline;
    }
}