h1 {
    position: absolute;
    top: 4%;
    left: 10%;
    font-size: 400%;
    text-decoration: underline;
}

#form {
    position: absolute;
    top: 25%;
    left: 35%;
    width: 30%;
    height: 5%;
    text-align: center;
    &:focus {
        border: 5px solid black;
    }
    font-size: 200%;
}

#newTask {
    position: absolute;
    top: 26%;
    left: 66.5%;
    width: 10%;
    height: 3%;
    transition: 600ms;
    &:hover {
        transform: scale(1.15);
        background-color: rgb(153, 218, 238);
    }
}

.list {
    position: absolute;
    top: 40%;
    left: 25%;
    font-size: 200%;
}

.sup {
    position: absolute;
    left: 120%;
    height: 30px;
    transition: 600ms;
    &:hover {
        transform: scale(1.20);
        background-color: red;
        color: black;
    }
    color: red;
}

#supAll {
    position: absolute;
    top: 10%;
    left: 80%;
    width: 10%;
    height: 5%;
    font-size: 150%;
    color: red;
    transition: 500ms;
    &:hover {
        transform: scale(1.30);
        background-color: red;
        color: black;
    }
}

button {
    background-color: rgb(228, 228, 228);
}

.orderC {
    position: absolute;
    top: 25%;
    left: 15%;
    width: 7%;
    height: 4%;
    transition: 500ms;
    &:hover {
        transform: scale(1.30);
    }
}

.orderD {
    position: absolute;
    top: 25%;
    left: 23.5%;
    width: 7%;
    height: 4%;
    transition: 500ms;
    &:hover {
        transform: scale(1.30);
    }
}

.orderC_ {
    position: absolute;
    top: 25%;
    left: 15%;
    width: 7%;
    height: 4%;
    transition: 500ms;
    &:hover {
        transform: scale(1.30);
    }
    text-decoration: underline;
    font-size: large;
}

.orderD_ {
    position: absolute;
    top: 25%;
    left: 23.5%;
    width: 7%;
    height: 4%;
    transition: 500ms;
    &:hover {
        transform: scale(1.30);
    }
    text-decoration: underline;
    font-size: large;
}

#order {
    position: absolute;
    top: 22%;
    left: 10%;
    font-size: 180%;
}

#exit {
    position: absolute;
    bottom: 5%;
    right: 5%;
    transition: 500ms;
    &:hover {
        transform: scale(1.30);
    }
}